

/* Font Face
////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'Modern';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/modernpics-webfont.eot');
    src: url('../fonts/modernpics-webfont.woff')format('woff'),
         url('../fonts/modernpics-webfont.ttf')format('truetype'),
         url('../fonts/modernpics-webfont.svg')format('svg');
}

/* Main body
/////////////////////////////////////////////////////////////////
*/

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Font family for safe web browsing so that users who do not have that font installed can load font from another value*/
    font-size: 10px; /* This makes all of the text in main be a certain font size */
}

body {
    border-color: #2e8bc0;
    border-left-style: solid; /* This borders the entire left side of the page */
    border-right-style: solid; /* This borders the entire right side of the page */
    margin: 1rem; /* Putting pages alongside the edge of browser */

}

header {
    background-color: #0c2d48; /* BGcolor of header only */
    border-color: #2e8bc0;
    color: #ffffff; /* All of the text in the header color */
    padding-top: 2rem; /* This is the amount of space from the text to the border */
}   

header, main, footer {
    border-style: solid; /* This is necessart for the borders of the footer in particular */
}

header, body, .navigation, main, footer { /* This is to align the entire sections together appropriately */
    border-width: 2px; /* 2px is subtle enough to create the border */
    /*max-width: 100%;*/
}

main {
    background-color: #0c2d48;
    border-color: #2e8bc0;
    color: #B1D4E0; 
    min-height: 960px;
    padding-top: 1rem; /* Padding for the top of the main and line of text */
}

footer { 
    background-color: #145DA0;
    border-color: #2e8bc0;
    clear: both; /* This helps to end the float in the #main section. Also I didn't need to place a clear float elsewhere, because the footers takes care of this for all pages. The other version had issues. */
    color: #ffffff;
    display: grid; /*This didn't look like it did anything, but I'm leaving it here for now.*/
    color: #0c2d48; /*Text color for the footer */
    padding-left: 10px; /* A little adjustment for the text aligning to the left at footer */
}

@media screen and (min-width: 280px) and (max-width: 1100px) {
    main{
        min-height: 1350px;
    }
}

/*Navigation
///////////////////////////////////////////////////////////////////////////////
*/

.homenav { /* These are the navigation buttons */
    background-color:  #145DA0;
    font: bold 1rem cursive; /* Fonts inside the buttons, bold font, 1 rem size, cursive font */
    font-size: 20px; /* Size of the text in the buttons */
    line-height: 4rem; /* Creates the spacing for the text and top/bottom margin */
    margin: 0 .3em 0 .3em; /* Spacing inbetween the buttons */
    padding: .3em; /* Spacing in between links */
}

.navigation a:hover { /*This Section helps to make the nav bar pop out with a color on the left */
    border-left: .3em solid tomato;
    margin: .225em; /* Notice the specific measurement */
    padding: .225em;
}

.navigation { /* Focuses on the buttons again, but helps to align the whole section of nav*/
    background-color: #145DA0; /* Background on the nav bar*/
    border-top-style: solid; /* Creating solid borders around stated areas */
    border-bottom-style: solid;
    color: #fff;
    overflow: hidden; /* There was a border that overlapped the header. This removed the overflow of that border*/
    text-align: center; /* Centers the buttons for nav */

}   

/* Headings
////////////////////////////////////////////////////////////////////////
*/

h1 {
    color: #B1D4E0;
    font-family: fantasy, impact;
    font-size: 2.6rem;
    line-height: 3rem; /* Line height of the text in h1 */
    text-align: center;
}

h2 {
    color: #b1d4e0;
    font-family: fantasy;
    font-size: 2.6rem;
    line-height: 2;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

h3 {
    color: #B1D4E0;
    font-size: 3rem; /* Currently linked to Fall 2019 Classes */
}

h4 {
    color: #B1D4E0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding: .5rem;
}

h5 {
    color: #B1D4E0;
    font-size: 14px;
}

h6 {
    color: #ffffff;
    font-size: 14px;
}

/* Section
//////////////////////////////////////////////////////////////////
*/

section, div {
    color: #B1D4E0;
    line-height: 1.5;
}

.blog { /*A blog page!(may be changed to apply to future blogs) */
    line-height: 2rem; /*Spacing for text*/
    max-width: 100%; /* For now this works for fitting in the text to the BG*/
    text-align: justify; /*Aligns text to fit to same margins as all other text, like a newspaper*/
}

.section { /* Another class tag for the blog */
    color: #B1D4E0;
    font-size: 24px;
    margin: .5rem;
}

.secblog {
    border: 10px;
    display: flex;
    margin: 10px;
    margin-top: 100px;
}

@media screen and (min-width: 280px) and (max-width: 600px) { /* This is intended to view via phones or small viewing devices */

    .secblog {
        display: grid;
        margin: auto;
        border: none;
        margin-top: 100px;
    }
}

/* Article
///////////////////////////////////////////////////////////////
*/

article {
    margin: 1rem;
}

.artblog {
    border: 4px solid #b1d4e0;
    padding-left: 1em;
}

.poetry {
    line-height: 3em;
    text-align: center;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
    #arthome {
        width: 100%;
    }

    .poetry {
        text-align: justify;
    }
}

/* Div
///////////////////////////////////////////////////////////////////
*/

.quote {/* Another class tag for blog */
    font-size: 22px;
    font-style: italic;    
    margin-left: 4rem;
    margin-right: 4rem;
}


.homediv {    
    margin-right: 1em;
    padding-right: 1em;
}

/* Aside
/////////////////////////////////////////////////////////////
*/

aside {
    color: #B1D4E0;
    font-size: 12px;
}

/* Descriptive lists
////////////////////////////////////////////////////////////////////////////////
*/

dd {
    padding-bottom: 1em;
    padding-right: 2em;
    font-size: 18px;
    text-align: justify;
}

dt {
    border-top: 2px solid #2e8bc0;
    border-bottom: 2em;
    font-size: 22px;
    font-weight: bold;
    margin-left: inherit;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-top: 1em;
}

dt:first-child {
    border: none;
}


/* Tables
/////////////////////////////////////////////////////////////////////
*/


table {
    border: 0;
    margin-left: 4em;
}

tbody {
    border: 3px solid #b1d4e0;
    font-size: 16px;
}

td {
    border-bottom: solid 3px;
    border-color: #b1d4e0;
    padding: 5px;

}

th {
    border-bottom: solid 3px #b1d4e0;
    font-size: 16px;
    font-weight: bold;
}

.t1 {
    border: none;
}

#tborder {
    border: solid 1px #2e8bc0;
}

/* Text, paragraphs, lines
///////////////////////////////////////////////////////////////
*/

p, li {
    color: #b1d4e0; /* Needed for blog to show color */
    font-size: 20px;
}

p {
    padding-right: 1.5rem;
}

.pfoot {
    color: #ffffff;
    font-size: 14px;
}

#listhome {
    clear: both;
    list-style: none;
    margin: 1em;
    padding: 1em;
}

blockquote {
    font-size: 22px;
}

.pblog::first-letter {
    font-size: 250%;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
    blockquote {
        margin: 0;
        padding: 0;
    }

    p {
        margin-left: .5em;
    }

}

/* Images
//////////////////////////////////////////////////////////////
*/

.imghead {/*This is alignment for the pic on the first blog. May be changed later*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.art {
    float: left;
    padding-left: 10px;
}

figcaption { /* Captions for the pictures only */
    color: #B1D4E0;
    font-size: 16px;
    text-align: center;
}

#imgself {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 260px) and (max-width: 600px) {

    #imgself {
        text-align: center;
    }

    figcaption {
        display: none;
    }

    .imghead {
        margin: 0;
        padding: 0;
    }
}

/* Anchor
/////////////////////////////////////////////////////////////////////
*/

a {
    font-size: 20px;
}

a:link {
    color: tomato;
}

.navigation a:link {
    color: #ffffff;
}

a:visited { /* When the link has already been clicked */
    color: tomato;
}

.navigation a:visited {
    color: #ffffff;
}

a:hover { /* When hovering over the link, Make sure to reverse the color */
    background-color: #B1D4E0; 
    color: #0c2d48; 
    text-decoration: none;
}

a .art:hover {
    border: none;
    height: 150px;
    outline: 0;
    padding: 4px;
    text-decoration: none;
    width: 150px;
}

.navigation a:hover { /* This is extra because of the other edits I did for the color of text in the nav bar */
    color: #0c2d48;
    width: 2em;
}

a:active { 
    color: #ffffff;
    text-decoration: none;
}

a:focus {
    outline: solid 3px;
}

a .art:link {
    color: #0c2d48;
    outline: 0;
    text-decoration: none;
}

a .art:focus {
    color: #0c2d48;
    outline: 0;
    text-decoration: none;
}

/* Target external Links
///////////////////////////////////////////////////////////////////////////
*/

a[href^="https://"]:after {
    content:" o";
    font-family: 'Modern', sans serif;
    font-size: 1.1em;
    position: relative;
    top: -.2em;
}

/* Form
//////////////////////////////////////////////////////////////////////////*/

form {
    width: 350px;
}
    
label {
    margin: 0;
    padding: 0;
}

input {
    width: 300px;
}

textarea {
    height: 200px;
    width: 300px;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
    form {
        margin-left: 1em;
        width: 200px;
    }

    input {
        width: 300px;
    }
}

/* Scripting Elements
/////////////////////////////////////////////////////////////
*/

button {
    background: #b1d4e0;
    border-color: tomato;
    border-radius: 10px;;
    color: #0c2d48;
    font-size: 20px;
    height: 2em;
    margin-left: 9em;
    width: 6em;
}